.our {
  margin: 0;
}
.our-sustainability {
  position: relative;
  letter-spacing: 0.04em;
  line-height: 67px;
  font-weight: 500;
}
.sustainabilityheaderbody {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.each-year-we {
  position: relative;
  font-size: var(--outon-paragraph-text-1-size);
  letter-spacing: 0.03em;
  line-height: 21px;
  font-family: var(--outon-paragraph-text-1);
  display: inline-block;
  width: 474px;
}
.sustainabilitytext {
  display: flex;
  flex-direction: column;
  padding: 0 var(--padding-5xs) 0 0;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.explore-our-sustainable {
  position: relative;
  letter-spacing: 0.03em;
  font-weight: 600;
}
.buttonexplore {
  background-color: var(--outon-soft);
  border: 3px solid var(--suave);
  box-sizing: border-box;
  height: 48px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-3xs) 25px var(--padding-3xs) var(--padding-5xl);
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: var(--outon-button-text-size);
}
.sustainabilitycontent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-13xl);
}
.pic-about-substainability-icon {
  position: relative;
  width: 538px;
  height: 303px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.sustainabilitypicture {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-21xl);
}
.our-durability {
  position: relative;
  letter-spacing: 0.04em;
  line-height: 67px;
  text-transform: uppercase;
  font-weight: 500;
}
.how-can-our-container {
  position: relative;
  font-size: var(--outon-paragraph-text-1-size);
  letter-spacing: 0.03em;
  line-height: 21px;
  font-family: var(--outon-paragraph-text-1);
}
.durabilitytext {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.buttonseespecs {
  background-color: var(--outon-soft);
  border: 3px solid var(--suave);
  box-sizing: border-box;
  height: 48px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-5xl);
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: var(--outon-button-text-size);
}

.buttonseespecs:hover {
  background-color: #eee565;
}

.discover-the-craftsmanship {
  position: relative;
  letter-spacing: 0.03em;
  font-weight: 600;
  display: inline-block;
  height: 24px;
  flex-shrink: 0;
}
.innerframefeatures {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 88px;
}
.aboutinnerframe {
  padding: 72px 72px;
  background-color: #fffefd;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.about-section {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 144px 153px;
  gap: 10px;
  margin-bottom: 44px;

  width: 100vw;

  background: #ebe6e0;

  flex: none;
  order: 3;
  flex-grow: 0;

  text-align: left;
  font-size: var(--outon-h2-size);
  color: var(--suave);
  font-family: var(--outon-button-text);
}
/* .about {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: #fff;
  width: 100%;
  height: 1517px;
  overflow: hidden;
  text-align: left;
  font-size: var(--outon-outon-h2-size);
  color: var(--suave);
  font-family: var(--outon-button-text);
} */
