.our {
  margin: 0;
}
.our-sustainability {
  position: relative;
  letter-spacing: 0.04em;
  line-height: 67px;
  font-weight: 500;
}
.sustainabilityheaderbody {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.each-year-we {
  position: relative;
  font-size: var(--outon-paragraph-text-1-size);
  letter-spacing: 0.03em;
  line-height: 21px;
  font-family: var(--outon-paragraph-text-1);
  display: inline-block;
  width: 474px;
}
.sustainabilitytext {
  display: flex;
  flex-direction: column;
  padding: 0 var(--padding-5xs) 0 0;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.explore-our-sustainable {
  position: relative;
  letter-spacing: 0.03em;
  font-weight: 600;
}
.buttonexplore {
  background-color: var(--outon-soft);
  border: 3px solid var(--suave);
  box-sizing: border-box;
  height: 48px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-3xs) 25px var(--padding-3xs) var(--padding-5xl);
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: var(--outon-button-text-size);
}
.sustainabilitycontent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-13xl);
}
.pic-about-substainability-icon {
  position: relative;
  width: 538px;
  height: 303px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;

  /* max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  object-fit: contain; */
}
.sustainabilitypicture {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-21xl);
}
.our-durability {
  position: relative;
  letter-spacing: 0.04em;
  line-height: 67px;
  text-transform: uppercase;
  font-weight: 500;
}
.how-can-our-container {
  position: relative;
  font-size: var(--outon-paragraph-text-1-size);
  letter-spacing: 0.03em;
  line-height: 21px;
  font-family: var(--outon-paragraph-text-1);
}
.durabilitytext {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.buttonseespecs {
  background-color: var(--outon-soft);
  border: 3px solid var(--suave);
  box-sizing: border-box;
  height: 48px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-5xl);
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: var(--outon-button-text-size);
}

.buttonseespecs:hover {
  background-color: var(--eucalyptus);
}

.discover-the-craftsmanship {
  position: relative;
  letter-spacing: 0.03em;
  font-weight: 600;
  display: inline-block;
  height: 24px;
  flex-shrink: 0;
}
.innerframefeatures {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 88px;
}
.aboutinnerframe {
  padding: 72px 72px;
  background-color: #fffefd;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.about-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 144px 153px;
  gap: 10px;
  margin-bottom: 44px;
  width: 100%;

  background: #ebe6e0;

  flex: none;
  order: 0;
  flex-grow: 0;

  text-align: left;
  font-size: var(--outon-h2-size);
  color: var(--suave);
  font-family: var(--outon-button-text);
}
/* .about {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: #fff;
  width: 100%;
  height: 1517px;
  overflow: hidden;
  text-align: left;
  font-size: var(--outon-outon-h2-size);
  color: var(--suave);
  font-family: var(--outon-button-text);
} */


@media (max-width: 1120px) {

  .about-section{
    width: 100%;
  }

  .aboutinnerframe {
    padding: 24px;
  }
  .innerframefeatures {
    gap: 32px;
  }
  .sustainabilitypicture {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
    text-align: center;
  }
  .sustainabilitytext,
  .durabilitytext {
    width: 100%;
    text-align: center;
  }
  .pic-about-substainability-icon {
    width: 300;
    height: 300;
    object-fit: contain;
  }


  .sustainabilitycontent,
  .durabilitycontent {
    align-items: center;
  }
  .buttonseespecs,
  .buttonexplore {
    width: 100%;
  }
}

@media (max-width: 700px) {
  .about-section {
    align-items: center;
    padding: 20px 20px;
  }
  .aboutinnerframe {
    width: 100%;
    padding: 24px;
  }
  .innerframefeatures {
    width: 100%;
    gap: 32px;
  }

  .sustainabilitypicture {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
    text-align: center;
  }
  .sustainabilitytext,
  .durabilitytext {
    width: 100%;
    text-align: center;
  }
  .pic-about-substainability-icon {
    max-width: 300px;
    max-height: 300px;
    object-fit: contain;
  }

}

@media (max-width: 500px) {
  .about-section {
    align-items: center;
    padding: 20px 20px;
  }
  .aboutinnerframe {
    width: 100%;
    padding: 24px;
  }
  .innerframefeatures {
    max-width: 300px;
    gap: 32px;
  }

  .sustainabilitypicture{
    width: 100%;
  }

  .sustainabilitycontent {
    width: 100%;
    text-align: center;
  }

  .sustainabilitypicture {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
    text-align: center;
  }
  .sustainabilitytext,
  .durabilitytext {
    max-width: 100%;
    text-align: center;
  }
  .pic-about-substainability-icon {
    max-width: 200px;
    max-height: 200px;
    object-fit: contain;
  }

  .our-sustainability, .our-durability {
    align-items: center;
    text-align: center;
font-family: 'Playfair Display';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 32px;
text-align: center;
letter-spacing: 0.04em;
  }

  /* .our-durability {
    align-items: center;
    text-align: center;
font-family: 'Playfair Display';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 32px;
text-align: center;
letter-spacing: 0.04em;
  } */

  .each-year-we {
    width: 100%;
  }

}
