.the-rio-rush {
  position: relative;
  letter-spacing: 0.04em;
  font-weight: 500;
}
.the-rio-rush-wrapper {
  display: flex;
  flex-direction: row;
  padding: var(--padding-5xs);
  align-items: flex-start;
  justify-content: flex-start;
}
.outon-eyewear {
  position: relative;
  letter-spacing: 0.04em;
  line-height: 135.52%;
}
.frame-group,
.outon-eyewear-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.outon-eyewear-wrapper {
  flex-direction: row;
  padding: var(--padding-5xs);
  font-size: var(--outon-paragraph-text-1-size);
  font-family: var(--outon-paragraph-text-1);
}
.frame-group {
  flex-direction: column;
  gap: var(--gap-base);
}
.size {
  position: relative;
  letter-spacing: 0.04em;
  line-height: 135.52%;
  opacity: 0.7;
}
.size-wrapper {
  flex: 1;
  display: flex;
  flex-direction: row;
  padding: var(--padding-5xs) var(--padding-21xl) var(--padding-5xs) 0;
  align-items: center;
  justify-content: flex-start;
}
.radio-button-checked {
  position: relative;
  width: 22px;
  height: 22px;
  overflow: hidden;
  flex-shrink: 0;
}
.radiobuttons,
.s-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.radiobuttons {
  gap: var(--gap-5xl);
}
.radiobuttons-wrapper {
  flex: 1;
  padding: var(--padding-5xs) 0 var(--padding-5xs) var(--padding-21xl);
  justify-content: flex-end;
}
.color-wrapper,
.frame-div,
.radiobuttons-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.frame-div {
  align-self: stretch;
  border-top: 0.5px solid var(--suave);
  border-bottom: 0.5px solid var(--suave);
  padding: var(--padding-base) 0;
  justify-content: center;
}
.color-wrapper {
  flex: 1;
  padding: var(--padding-5xs) 0;
  justify-content: flex-start;
}
.frame-child {
  background-color: #d8b47d;
}
.frame-child,
.frame-child1,
.frame-inner,
.frame-item {
  position: relative;
  /* width: 24px;
  height: 12px; */
}
.frame-item {
  background-color: var(--color-dimgray);
}
.frame-child1,
.frame-inner {
  background-color: #66adec;
}
.frame-child1 {
  background-color: #fd8ae6;
}
.frame-parent2,
.rectangle-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.rectangle-container {
  border: 1px solid var(--suave);
  flex-direction: column;
}
.frame-parent2 {
  flex-direction: row;
  gap: 11px;
}
.description-wrapper,
.frame-parent1 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.frame-parent1 {
  align-self: stretch;
  border-bottom: 0.5px solid var(--suave);
  padding: var(--padding-base) 0;
  justify-content: center;
}
.description-wrapper {
  width: 181.5px;
  padding: var(--padding-5xs) var(--padding-21xl) var(--padding-5xs) 0;
  box-sizing: border-box;
  justify-content: flex-start;
}
.arrowdown-icon {
  position: relative;
  width: 22px;
  height: 22px;
  overflow: hidden;
  flex-shrink: 0;
  opacity: 0.85;
}
.arrowdown-wrapper,
.frame-parent4 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.arrowdown-wrapper {
  width: 181.5px;
  padding: var(--padding-5xs) 0 var(--padding-5xs) var(--padding-21xl);
  box-sizing: border-box;
  justify-content: flex-end;
}
.frame-parent4 {
  align-self: stretch;
  justify-content: flex-start;
}
.shop-outon-sunglasses {
  align-self: stretch;
  position: relative;
  letter-spacing: 0.03em;
  opacity: 0.5;
}
.frame-parent3 {
  align-self: stretch;
  border-bottom: 0.5px solid var(--suave);
  display: flex;
  flex-direction: column;
  padding: var(--padding-base) 0 var(--padding-5xl);
  align-items: center;
  justify-content: center;
  gap: var(--gap-5xs);
}
.arrowright-icon {
  position: absolute;
  margin: 0 !important;
  top: 8px;
  left: 164.5px;
  width: 22px;
  height: 22px;
  overflow: hidden;
  flex-shrink: 0;
  opacity: 0.85;
  z-index: 0;
}
.arrowright-wrapper,
.frame-parent5 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.arrowright-wrapper {
  width: 181.5px;
  padding: var(--padding-5xs) 0 var(--padding-5xs) var(--padding-21xl);
  box-sizing: border-box;
  justify-content: flex-end;
  position: relative;
}
.frame-parent5 {
  border-bottom: 0.5px solid var(--suave);
  padding: var(--padding-base) 0;
  justify-content: center;
}
.table {
  width: 363px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--outon-paragraph-text-1-size);
  font-family: var(--outon-paragraph-text-1);
}
.frame-parent {
  gap: var(--gap-29xl);
}
.frame-parent,
.inner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.add-to-bag {
  position: relative;
  letter-spacing: 0.03em;
  font-weight: 600;
}
.add-to-bag-wrapper {
  background-color: var(--suave);
  border: 3px solid var(--suave);
  box-sizing: border-box;
  width: 363px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-base) 74px;
  align-items: center;
  justify-content: center;
  font-size: var(--outon-button-text-size);
  color: var(--outon-soft);
}
.icoutline-done-icon {
  position: relative;
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.uvauvb-protection {
  position: relative;
  letter-spacing: 0.04em;
  line-height: 44.86px;
  opacity: 0.7;
}
.child,
.div,
.icoutline-done-parent {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.icoutline-done-parent {
  flex-direction: row;
  gap: var(--gap-9xs);
}
.child,
.div {
  flex-direction: column;
}
.child {
  font-size: var(--font-size-sm);
  font-family: var(--outon-paragraph-text-1);
}
.div {
  position: absolute;
  top: 269px;
  left: 910px;
  gap: var(--gap-29xl);
}
.skarmavbild-2023-05-09-kl-14 {
  position: absolute;
  top: 269px;
  left: 56px;
  width: 791px;
  height: 584px;
  object-fit: cover;
}
.skarmavbild-2023-05-09-kl-141 {
  position: relative;
  width: 158px;
  height: 117px;
  object-fit: cover;
}
.skarmavbild-2023-05-09-kl-14-parent {
  position: absolute;
  top: 901px;
  left: 174px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-21xl);
}
.product-name {
  position: relative;
  letter-spacing: 0.03em;
}
.material-symbolsarrow-back-io-parent {
  position: absolute;
  top: 130px;
  left: 73px;
  width: 264px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-6xs);
  font-size: var(--outon-paragraph-text-1-size);
  font-family: var(--font-inter);
}
.loggasvg-icon {
  position: relative;
  width: 97.53px;
  height: 69.8px;
  overflow: hidden;
  flex-shrink: 0;
  cursor: pointer;
}
.all-sunglasses,
.news {
  position: relative;
  letter-spacing: 0.03em;
  cursor: pointer;
}
.all-sunglasses {
  font-weight: 600;
}
.news-parent {
  position: absolute;
  top: 0;
  left: 12px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.frame-wrapper2,
.search-icon {
  position: relative;
  width: 341px;
  height: 19px;
}
.search-icon {
  width: 19.89px;
  height: 19.89px;
  overflow: hidden;
  flex-shrink: 0;
}
.frame-parent7,
.search-parent {
  flex-direction: row;
  align-items: flex-start;
}
.search-parent {
  display: flex;
  justify-content: flex-start;
  gap: 29.22px;
}
.frame-parent7 {
  gap: var(--gap-21xl);
}
.frame-parent7,
.header-desktop,
.loggasvg-parent {
  display: flex;
  justify-content: flex-start;
}
.loggasvg-parent {
  flex-direction: row;
  align-items: center;
  gap: 819px;
}
.header-desktop {
  position: absolute;
  top: -1px;
  left: 0;
  background-color: var(--outon-soft);
  flex-direction: column;
  padding: var(--padding-base) 72px;
  align-items: flex-start;
  cursor: pointer;
  font-size: var(--outon-paragraph-text-1-size);
  font-family: var(--font-inter);
}
.suns-out-shades {
  position: absolute;
  top: 34px;
  left: 263px;
  font-size: var(--outon-mobile-h2-size);
  letter-spacing: 0.04em;
  text-transform: uppercase;
  font-weight: 500;
}
.button {
  /* position: absolute; */
  top: 273px;
  left: 693px;
  background-color: var(--outon-soft);
  border: 1.8px solid var(--suave);
  box-sizing: border-box;
  width: fit-content;
  height: 28.36px;
  display: flex;
  flex-direction: row;
  padding: 9.454545021057129px;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 10.64px;
}
.frame-icon {
  position: relative;
  width: 284px;
  height: 229px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.the-berlin-beat {
  margin: 0;
}
.frame-parent10 {
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
  z-index: 0;
}
.skarmavbild-2023-05-09-kl-11 {
  position: relative;
  width: 308px;
  height: 277px;
  object-fit: cover;
}
.skarmavbild-2023-05-09-kl-11-parent {
  height: 319px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
  z-index: 1;
}
.skarmavbild-2023-05-09-kl-111 {
  position: relative;
  width: 309px;
  height: 277px;
  object-fit: cover;
}
.the-manhattan-moon-container {
  position: relative;
  letter-spacing: 0.04em;
  line-height: 135.52%;
  display: inline-block;
  width: 165px;
  height: 61px;
  flex-shrink: 0;
}
.skarmavbild-2023-05-09-kl-11-group {
  height: 319px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
  z-index: 2;
}
.the-rio-rush-container {
  align-self: stretch;
  position: relative;
  letter-spacing: 0.04em;
  line-height: 135.52%;
  display: inline-block;
  height: 61px;
  flex-shrink: 0;
}
.frame-wrapper3,
.skarmavbild-2023-05-09-kl-14-group {
  height: 319px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.skarmavbild-2023-05-09-kl-14-group {
  gap: var(--gap-5xl);
}
.frame-wrapper3 {
  z-index: 3;
}
.vector-icon {
  position: relative;
  width: 308px;
  height: 277px;
}
.vector-parent {
  height: 319px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
  z-index: 4;
}
.chevron-left-icon,
.chevron-right-icon {
  position: relative;
  width: 77px;
  height: 79px;
}
.chevron-right-icon {
  width: 76.92px;
}
.carouselchevrons,
.frame-parent9 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.carouselchevrons {
  margin: 0 !important;
  position: absolute;
  top: 80px;
  left: 0;
  width: 1368px;
  justify-content: space-between;
  z-index: 5;
}
.frame-parent9 {
  justify-content: flex-start;
  position: relative;
  gap: 77px;
}
.find-what-you {
  position: relative;
  letter-spacing: 0.03em;
  font-weight: 600;
  display: inline-block;
  width: 161px;
  height: 24px;
  flex-shrink: 0;
}
.button1,
.frame-parent8,
.recommended-for-you-parent {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.button1 {
  background-color: var(--outon-soft);
  border: 3px solid var(--suave);
  box-sizing: border-box;
  width: 208px;
  height: 48px;
  overflow: hidden;
  flex-shrink: 0;
  padding: 7px var(--padding-5xl);
  justify-content: center;
  text-align: center;
  font-size: var(--outon-button-text-size);
  font-family: var(--outon-button-text);
}
.frame-parent8,
.recommended-for-you-parent {
  justify-content: flex-start;
}
.frame-parent8 {
  gap: var(--gap-21xl);
  text-align: left;
  font-size: var(--outon-paragraph-text-1-size);
  font-family: var(--outon-paragraph-text-1);
}
.recommended-for-you-parent {
  position: absolute;
  top: 20px;
  left: 106px;
  gap: 56px;
}
.picture-carousel {
  position: relative;
  width: 1563px;
  height: 565px;
  z-index: 0;
  text-align: center;
}
.rectangle-icon {
  position: relative;
  width: 209px;
  height: 121px;
  object-fit: cover;
}
.our-scratch-resistant-frames,
.scratch-resistant {
  position: relative;
  letter-spacing: 0.03em;
  line-height: 21px;
}
.scratch-resistant {
  font-weight: 800;
}
.our-scratch-resistant-frames {
  font-family: var(--outon-paragraph-text-1);
  display: inline-block;
  width: 220px;
  height: 81px;
  flex-shrink: 0;
}
.features-small,
.scratch-resistant-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.scratch-resistant-parent {
  flex-direction: column;
  gap: var(--gap-5xs);
}
.features-small {
  flex-direction: row;
  gap: 31px;
  z-index: 1;
  font-size: var(--outon-paragraph-text-1-size);
}
.our-sustainability {
  position: relative;
  letter-spacing: 0.04em;
  line-height: 67px;
  font-weight: 500;
}
.our-sustainability-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.each-year-we {
  position: relative;
  font-size: var(--outon-paragraph-text-1-size);
  letter-spacing: 0.03em;
  font-family: var(--font-helvetica-neue);
  display: inline-block;
  width: 474px;
}
.frame-parent14 {
  flex-direction: column;
  padding: 0 var(--padding-5xs) 0 0;
  align-items: flex-start;
  gap: var(--gap-5xl);
}
.button2,
.frame-parent13,
.frame-parent14 {
  display: flex;
  justify-content: flex-start;
}
.button2 {
  background-color: var(--outon-soft);
  border: 3px solid var(--suave);
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-6xl) var(--padding-3xs)
    var(--padding-5xl);
  align-items: flex-start;
  text-align: center;
  font-size: var(--outon-button-text-size);
}
.frame-parent13 {
  flex-direction: column;
  align-items: center;
  gap: var(--gap-13xl);
}
.frame-child5 {
  position: relative;
  width: 538px;
  height: 303px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.our-durability {
  position: relative;
  letter-spacing: 0.04em;
  line-height: 67px;
  text-transform: uppercase;
  font-weight: 500;
}
.how-can-our-container {
  position: relative;
  font-size: var(--outon-paragraph-text-1-size);
  letter-spacing: 0.03em;
  line-height: 21px;
  font-family: var(--outon-paragraph-text-1);
}
.frame-parent16 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.button3,
.frame-parent11,
.instance-parent {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.button3 {
  background-color: var(--outon-soft);
  border: 3px solid var(--suave);
  padding: var(--padding-3xs) var(--padding-5xl);
  align-items: flex-start;
  text-align: center;
  font-size: var(--outon-button-text-size);
}
.frame-parent11,
.instance-parent {
  align-items: flex-end;
  gap: var(--gap-21xl);
}
.frame-parent11 {
  width: 1058px;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-69xl);
}
.discover-the-craftsmanship,
.meet-our-master {
  position: relative;
  letter-spacing: 0.03em;
  display: inline-block;
}
.meet-our-master {
  font-size: var(--outon-paragraph-text-1-size);
  line-height: 21px;
  font-family: var(--outon-paragraph-text-1);
  width: 474px;
}
.discover-the-craftsmanship {
  font-weight: 600;
  width: 239px;
  height: 24px;
  flex-shrink: 0;
}
.features-bigger {
  position: absolute;
  top: 72px;
  left: 72px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-69xl);
}
.features-bigger-wrapper,
.frame-wrapper5 {
  position: absolute;
  width: 1204px;
  height: 1229px;
}
.features-bigger-wrapper {
  top: 0;
  left: 0;
  background-color: var(--outon-soft);
  overflow: hidden;
}
.frame-wrapper5 {
  top: 144px;
  left: 153px;
  opacity: 0.8;
}
.frame-wrapper4 {
  position: absolute;
  margin: 0 !important;
  top: 1102px;
  left: 51px;
  background-color: var(--outon-sand);
  width: 1510px;
  height: 1517px;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 2;
  font-size: var(--outon-h2-size);
}
.picture-carousel-parent {
  position: absolute;
  top: 1226px;
  left: -51px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 208px;
}
.loggavariants-icon {
  position: relative;
  width: 153.69px;
  height: 110px;
  overflow: hidden;
  flex-shrink: 0;
}
.suns-out-shades1 {
  position: relative;
  letter-spacing: 0.03em;
  line-height: 154.85px;
  display: none;
}
.loggavariants-parent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 66.36px;
  font-size: 117.98px;
  color: rgba(255, 255, 255, 0.8);
  font-family: var(--outon-paragraph-text-1);
}
.e-mail-parent,
.house-of-outon-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.house-of-outon-parent {
  flex-direction: column;
  gap: var(--gap-6xs);
}
.e-mail-parent {
  flex-direction: row;
  gap: 171px;
}
.line-div {
  position: relative;
  border-top: 1px solid var(--suave);
  box-sizing: border-box;
  width: 286px;
  height: 1px;
}
.alinnehll,
.frame-parent20,
.newsletter-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 13px;
}
.alinnehll,
.newsletter-parent {
  gap: 23px;
}
.alinnehll {
  flex-direction: row;
  justify-content: center;
  gap: 224px;
  z-index: 0;
}
.al-copyright-child {
  position: relative;
  border-top: 1px solid var(--suave);
  box-sizing: border-box;
  width: 1513px;
  height: 1px;
  z-index: 1;
}
.c-2023-outon {
  position: relative;
  z-index: 0;
}
.facebook-icon,
.twitter-icon {
  position: relative;
  width: 21px;
  height: 21px;
  overflow: hidden;
  flex-shrink: 0;
}
.twitter-icon {
  width: 19px;
}
.copyright,
.socialmedia {
  margin: 0 !important;
  position: absolute;
  flex-direction: row;
}
.socialmedia {
  top: -47px;
  left: 1124px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-9xl);
  z-index: 1;
}
.copyright {
  top: 160px;
  left: calc(50% - 78.65px);
  align-items: center;
  gap: 751px;
  z-index: 2;
  font-size: 8px;
}
.al-copyright,
.copyright,
.socialmedia1 {
  display: flex;
  justify-content: flex-start;
}
.socialmedia1 {
  margin: 0 !important;
  position: absolute;
  top: 103px;
  left: 1209px;
  flex-direction: row;
  align-items: flex-start;
  gap: var(--gap-9xl);
  z-index: 3;
}
.al-copyright {
  flex-direction: column;
  padding: 0 0 var(--padding-6xl);
  align-items: center;
  position: relative;
  gap: 39px;
}
.al-copyright-wrapper {
  width: 1512px;
  height: 167px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}
.footer1 {
  background-color: #9f8ea2;
  height: 235px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  padding: 32px 0 26px;
  box-sizing: border-box;
  align-items: flex-end;
  justify-content: center;
}
.footer {
  position: absolute;
  top: 4053px;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--font-size-sm);
  font-family: var(--font-inter);
}
.detaildesktop {
  position: relative;
  background-color: var(--outon-soft);
  width: 100%;
  height: 4288px;
  overflow: hidden;
  text-align: left;
  font-size: var(--outon-h3-size);
  color: var(--suave);
  font-family: var(--outon-button-text);
}
