.footer {
  background-color: #9f8ea2;
  position: relative;
  padding: 44px 60px 0px 0;
  gap: 100px;
  width: 100vw;
  min-height: 235px;
  height: fit-content;
  font-family: 'Roboto';
}

.footer-container {
  display: flex;
  flex-direction: column;
  /* justify-content: flex-start; */
  align-items: center;
  padding: 0 72px 0 72px;
  font-style: normal;
  font-weight: 400;
  font-size: 8px;
  line-height: 19px;
  letter-spacing: 0.03em;
  color: #000;
  width: 100vw;
}

.footer-container i:hover {
  color: #c9c6d7;
  cursor: pointer;
}

.footer-line {
  width: 100vw;
  margin-top: 20px;
  height: 1px;
  background-color: #000;
}

/* .footer-text {
  margin-top: 5px;
} */

.subscribe-popup-overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.subscribe-popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.centered-popup {
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-content {
  text-align: center;
}

.invalid {
  border: 1px solid red;
}

.logo {
  height: 100px;
  width: 140px;
  margin-left: 30px;
  margin-top: 5px;
  color: #000;
  left: 0px;
  top: 0px;
  border-radius: 0px;
}

.email-input::placeholder {
  color: black;
}

.footer-container ul {
  padding: 0;
  list-style: none;
}

.social-icons {
  display: flex;
  gap: 30px;
  font-size: 21px;
  color: #010000;
  margin-top: 10px;
  padding-left: 10%;
  width: 21px;
  height: 21px;
}

.social-icons i:hover {
  color: #c9c6d7;
  cursor: pointer;
}

.footer-container ul li {
  margin-bottom: 8px;
  border: none;
}

.subscribe-input {
  border-bottom: 1px solid #000;
  width: 300px;
}

.subscribe-container {
  display: flex;
  align-items: center;
  margin-top: 10px;
  font-family: 'Roboto';
  background-color: #9f8ea2;
}

.email-input {
  border: none;
  padding: 0;
  margin-right: 4px;
  background: transparent;
}

.subscribe-link {
  color: #000;
  transition: color 0.3s;
  /* font-weight: bolder; */
  cursor: pointer;
}

.subscribe-link:hover {
  color: #fff;
}

.list-unstyled li a {
  color: #000;
  transition: color 0.3s;
}

.list-unstyled li a:hover {
  color: #fff;
}
