#footer {
    background-color: #9F8EA2;
    position: relative;
}

.footer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px 72px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.03em;
    color: #000;
}

.footer-container i:hover {
    color: #c9c6d7;
    cursor: pointer;
}

.footer-line {
    width: 110%;
    height: 2px;
    background-color: #000;
}

.footer-text {
    margin-top: 10px;
}

.subscribe-popup-overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

.subscribe-popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.centered-popup {
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-content {
    text-align: center;
}

.invalid {
    border: 1px solid red;
}

.logo {
    height: 70px;
    width: 100px;
    margin-left: 25%;
    margin-top: 10%;
    color: #000;
    left: 0px;
    top: 0px;
    border-radius: 0px;
}

.email-input::placeholder {
    color: black;
}

.footer-container ul {
    padding: 0;
    list-style: none;
}

.social-icons {
    display: flex;
    gap: 30px;
    font-size: 30px;
    color: #010000;
    margin-top: 10px;
    padding-left: 10%;
}

.social-icons i:hover {
    color: #c9c6d7;
    cursor: pointer;
}

.footer-container ul li {
    margin-bottom: 8px;
    border: none;
}

.subscribe-input {
    border-bottom: 3px solid #000;
    width: 300px;
}

.subscribe-container {
    display: flex;
    align-items: center;
    margin-top: 10px;
    font-family: 'inter';
    background-color: #9F8EA2;
}

.email-input {
    border: none;
    padding: 0;
    margin-right: 4px;
    background: transparent;
}

.subscribe-link {
    color: #000;
    transition: color 0.3s;
    font-weight: bolder;
    cursor: pointer;
}

.subscribe-link:hover {
    color: #fff;
}

.list-unstyled li a {
    color: #000;
    transition: color 0.3s;
}

.list-unstyled li a:hover {
    color: #fff;
}
