@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;600;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Helvetica+Neue:wght@400&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --outon-card-product-colour: Roboto;
  --outon-button-text: "Playfair Display";
  --outon-paragraph-text-1: Roboto;

  /* font sizes */
  --font-size-sm: 14px;
  --outon-button-text-size: 18px;
  --outon-card-product-colour-size: 16px;
  --font-size-29xl: 48px;
  --outon-paragraph-text-1-size: 16px;
  --outon-outon-h2-size: 56px;
  --font-size-sm: 14px;

  /* Colors */
  --suave: #000;
  --outon-sand: #ebe6e0;
  --outon-soft: #fffefd;
  --color-dimgray: #5a505a;
  --color-violet: #fd8ae6;
  --color-deepskyblue: #66adec;
  --color-burlywood: #d8b47d;

  /* Gaps */
  --gap-44xl: 63px;
  --gap-29xl: 48px;
  --gap-5xs: 8px;
  --gap-9xs: 4px;
  --gap-2xs: 11px;
  --gap-5xl: 24px;
  --gap-base: 16px;
  --gap-21xl: 40px;

  /* Paddings */
  --padding-base: 16px;
  --padding-55xl: 74px;
  --padding-mini: 15px;
  --padding-5xs: 8px;
  --padding-21xl: 40px;
  --padding-mini-3: 14.3px;
}
