@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;600;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Helvetica+Neue:wght@400&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-inter: Inter;
  --outon-paragraph-text-1: Roboto;
  --outon-button-text: "Playfair Display";
  --font-helvetica-neue: "Helvetica Neue";

  /* font sizes */
  --font-size-sm: 14px;
  --outon-button-text-size: 18px;
  --outon-paragraph-text-1-size: 16px;
  --outon-h2-size: 56px;
  --outon-h3-size: 48px;
  --outon-mobile-h2-size: 24px;

  /* Colors */
  --outon-soft: #fffefd;
  --suave: #000;
  --outon-sand: #ebe6e0;
  --color-dimgray: #5a505a;

  /* Gaps */
  --gap-9xl: 28px;
  --gap-6xs: 7px;
  --gap-69xl: 88px;
  --gap-21xl: 40px;
  --gap-13xl: 32px;
  --gap-5xl: 24px;
  --gap-5xs: 8px;
  --gap-base: 16px;
  --gap-29xl: 48px;
  --gap-9xs: 4px;

  /* Paddings */
  --padding-6xl: 25px;
  --padding-3xs: 10px;
  --padding-5xl: 24px;
  --padding-5xs: 8px;
  --padding-base: 16px;
  --padding-21xl: 40px;
}
