/* .suns-out-shades-container {
  position: relative;
  line-height: 130px;
  text-transform: uppercase;
  font-weight: 500;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
} */

.hero-section {
  gap: var(--gap-13xl);
  text-align: center;
  /* font-size: var(--font-size-109xl); */
  color: var(--suave);
  font-family: var(--outon-button-text);
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  padding-left: 62px;
  padding-right: 62px;
}

.hero-pic {
  /* margin: 0px 62px 16px 62px; */
  background-color: var(--color-linen-100);

  width: 100%;
  height: 754px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../../src/images/hero-section-icecream.jpg);
}

.slogan {
  margin-top: 131px;
  box-sizing: border-box;
  background: #ebe6e059;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 44px 51px;
  gap: 10px;

  font-family: 'Playfair display';
  font-size: var(--font-size-109xl);
  font-weight: 500;
  line-height: 130px;
  letter-spacing: 0em;
  text-align: center;
}

.suns-out-shade {
  flex-basis: calc(
    50% - 16px
  ); /* Adjust flex-basis value based on your requirements */
  margin: 8px; /* Add some spacing between shades */
}

/* .hero-text-container,
/* .shop-the-collection {
  position: relative;
  letter-spacing: 0.03em;
  display: inline-block;
} */
.shop-the-collection {
  text-decoration: none;
  color: black;
}

.hero-text-parent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap-5xl);
  font-size: var(--outon-paragraph-text-1-size);
  font-family: var(--outon-paragraph-text-1);
}

.hero-text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.03em;
  text-align: center;
  width: 600px;
  line-height: 24px;
  gap: var(--gap-5xl);
}

.hero-text {
  margin: 0;
}

.shop-the-collection {
  font-weight: 600;
  width: fit-content;
  height: 24px;
  flex-shrink: 0;
}
.button-hero {
  background-color: var(--outon-soft);
  border: 3px solid var(--suave);
  box-sizing: border-box;
  height: 48px;
  /* overflow: hidden; */
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  padding: var(--padding-6xs) var(--padding-5xl);
  align-items: center;
  justify-content: center;
  font-size: var(--outon-button-text-size);
  font-family: var(--outon-button-text);
  transition: box-shadow 0.3s;
}

.yellow-hover:hover {
  background-color: #eee565;
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
  cursor: pointer;
}

/* .hero-section-landing-page {
  gap: var(--gap-13xl);
  text-align: center;
  font-size: var(--font-size-109xl);
  color: var(--suave);
  font-family: var(--outon-button-text);
  display: flex;
} */

.brands {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-left: 100px;
  margin-right: 100px;
  /* margin: 216px 207px 216px 207px; */
  height: 458px;
  gap: 81.9px;
}

.brands-names {
  margin-left: 81.9px;
}

.try-on-start-block {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 728px;
  background: var(--sand);
}

/* .virtual-try-on {
  display: flex;
  flex-direction: column;
  font-size: 56px;
  font-weight: 500;
  font-family: Playfair Display;
  line-height: 67px;
  letter-spacing: 0.04em;
  text-align: left;
} */
/* .couple-try-on {
} */
.try-on-start-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #fffefd;
  width: 35%;
  /* width: 390px; */

  height: 520px;
  margin: 41px;
  /* position: relative; */
  letter-spacing: 0.04em;
  /* line-height: 40px; */
  font-weight: 500;
  border-radius: 0px;
  /* padding-top: 81px; */
  /* padding-bottom: 81px; */
  /* padding: 81px 18px 81px 18px; */
}

.try-on-text-inner {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 330px;
  height: 350px;
}

.small-text-try-on {
  height: fit-content;
  width: fit-content;
  border-radius: 0px;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  padding: 0px;
}

.try-on-start-pic {
  /* width: 60%; */
  height: 520px;
  object-fit: contain;
  margin-right: 41px;
}

.our-virtual {
  margin-top: 0;
  font-family: 'Playfair display';
  font-size: var(--outon-h3-size);
  font-weight: 500;
  line-height: 60px;
  letter-spacing: 0.03em;
  text-align: left;
  text-transform: uppercase;
  width: fit-content;
  /* font-size: 48px; */
  /* gap: 64px; */
}

.elevate {
  font-family: 'Roboto';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0.03em;
  text-align: left;
  height: fit-content;
  width: fit-content;
  margin-top: 10px;
}

.button4 {
  background-color: var(--outon-soft);
  height: 48px;
  padding: 0 0 var(--padding-3xs);
  box-sizing: border-box;
  align-items: flex-start;
  text-align: center;
  font-size: var(--outon-button-text-size);
}

.button5 {
  background-color: var(--color-linen-100);
  border: 3px solid var(--suave);
  box-sizing: border-box;
  height: 48px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-lgi) var(--padding-5xl);
  align-items: center;
  justify-content: center;
}

.button5:hover {
  background-color: #eee565;
  color: var(--suave);
}

.our-virtual-try-on-container {
  position: relative;
  letter-spacing: 0.04em;
  line-height: 67px;
  text-transform: uppercase;
  font-weight: 500;
}

.elevate-your-style-container1 {
  position: relative;
  font-size: var(--outon-paragraph-text-1-size);
  letter-spacing: 0.03em;
  line-height: 21px;
  font-family: var(--outon-paragraph-text-1);
  display: inline-block;
  width: 406px;
}

.our-virtual-try-on-parent {
  width: 372px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-21xl);
}

.see-more {
  position: relative;
  letter-spacing: 0.03em;
  font-weight: 600;
  font-family: 'Playfair display';
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  text-align: center;
}

@media screen and (max-width: 990px) {
  .slogan {
    font-size: 110px;
    font-weight: bolder;
  }
}

@media screen and (max-width: 890px) {
  .slogan {
    font-size: 90px;
    font-weight: bolder;
    line-height: 90px;
  }
}

@media screen and (max-width: 810px) {
  .hero-section {
    padding: 0;
  }
  .hero-pic {
    height: 600px;
  }
}

@media screen and (max-width: 670px) {
  .slogan {
    font-size: 60px;
  }
  .hero-pic {
    height: 600px;
  }

  @media screen and (max-width: 620px) {
    .slogan {
      font-size: 50px;
      line-height: 50px;
      padding: 20px;
    }
  }

  @media screen and (max-width: 520px) {
    .slogan {
      padding: 15px;
      line-height: 40px;
    }
  }
}
