header {
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: #ffffff;
}

.navbar-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 16px 72px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  width: 100%;

  box-shadow: 0px 23px rgba(100, 50, 0, 0.02),
    0px 10px 10px rgba(100, 50, 0, 0.03), 0px 3px 6px rgba(100, 50, 0, 0.03),
    0px 0px 0px rgba(100, 50, 0, 0.03);
}

.nav-logo {
  height: 69.8025131225586px;
  width: 97.52962493896484px;
  /* left: 0px;
  top: 0px; */
  border-radius: 0px;
  margin: 0;
}

.logo {
  height: 69.8025131225586px;
  width: 97.52962493896484px;
  left: 0px;
  top: 0px;
  border-radius: 0px;
}

.nav-links-container {
  height: fit-content;
  width: fit-content;
  border-radius: 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0px;
  gap: 40px;
}

.text-links-box {
  display: flex;
  height: min-content;
  width: fit-content;
  justify-content: space-between;
}

.text-links-box ul {
  display: flex;
  gap: 20px;
  margin: 0;
}

.nav-link-text a {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  /* padding-left: 16px; */
}

.icon-links-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: fit-content;
  height: fit-content;
}

.nav-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
  /* width: 500px; */
  height: max-content;
  padding: 0;
  margin: 0;
}

.nav-links li {
  list-style: none;
  text-decoration: none;
  /* display: flex;
  flex-direction: row; */
  /* justify-content: center; */
  padding: 0px;
  /* gap: 29.22px; */
  height: 19.89px;
}
.nav-links li a {
  display: flex;
  flex-direction: row;
  transition: transform 0.2s ease-in-out;
}

.nav-links li a:hover {
  color: var(--suave);
  font-weight: bold;
  transform: scale(1.1);
}

/* .active-link {
  color: var(--suave);
  font-weight: bolder;
} */

/* .nav-icons {
  height: 19.88983917236328px;
  width: 19.89263916015625px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  border-radius: 0px;
} */

.shoppingbag {
  margin-left: 29px;
}

.nav-links {
  list-style: none;
  display: flex;
  /* gap: 10px; */
  justify-content: space-evenly;
}

.nav-link-text {
  width: 140px;
}

.news {
  width: fit-content;
}

.icons-ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  /* gap: 10px; */
}

.nav-icons {
  width: 20px;
  height: 20px;
  transition: transform 0.2s ease-in-out;
}

.nav-icons:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.hamburger-menu {
  display: flex;
  cursor: pointer;
}

.bar {
  width: 25px;
  height: 1.5px;
  background-color: #000;
  margin: 2px;
  transition: transform 0.4s ease-in-out;
}

.hamburger-menu.active .bar:nth-child(1) {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.hamburger-menu.active .bar:nth-child(2) {
  opacity: 0;
}

.hamburger-menu.active .bar:nth-child(3) {
  transform: rotate(45deg) translate(-5px, -6px);
}

@media screen and (max-width: 810px) {
  .hamburger-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    width: 40px;
    height: 30px;
    order: 1;
  }
  .navbar-container {
    padding: 16px 30px;
  }

  .nav-logo-box {
    order: 2;
  }

  .icon-links-box {
    order: 3;
  }
}

@media screen and (max-width: 400px) {
}
