.navbar-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 16px 72px;
  gap: 8px;
  font-family: 'inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
}

.logo {
  height: 69.8025131225586px;
  width: 97.52962493896484px;
  left: 0px;
  top: 0px;
  border-radius: 0px;
}

.navbar-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 16px 72px;
  gap: 8px;
  left: 0px;
  top: 0px;
  font-family: 'inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
}

.logo {
  height: 69.8025131225586px;
  width: 97.52962493896484px;
  left: 0px;
  top: 0px;
  border-radius: 0px;
}

.nav-links-container {
  height: fit-content;
  width: fit-content;
  border-radius: 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0px;
  gap: 40px;
}

.text-links-box {
  display: flex;
  justify-content: center;
  height: min-content;
  width: fit-content;
  border-radius: 0px;
}

.nav-links-text a p {
  display: flex;
  justify-content: space-around;
}

.icon-links-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: fit-content;
}

.nav-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
  width: max-content;
  height: max-content;
  padding: 0;
  margin: 0;
}

.nav-links li {
  list-style: none;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  padding: 0px;
  gap: 29.22px;
  height: 19.89px;
}
.nav-links li a {
  display: flex;
  flex-direction: row;
}

.nav-links li a:hover {
  color: #b68657;
}

.nav-icons {
  height: 19.88983917236328px;
  width: 19.89263916015625px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.shoppingbag {
  margin-left: 29px;
}

p {
  width: max-content;
  margin-left: 20px;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 10px;
}

.nav-icons {
  width: 20px;
  height: 20px;
}
