.carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hidden-box {
  width: 100vw;
  /* height: 970px; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}

.hidden-content {
  width: 614px;
  /* height: 100%; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0 188px;
}

.heading-text {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 500;
  font-size: 56px;
  line-height: 67px;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 64px;
}

.beeauty-teext {
  margin-bottom: 64px;
}

.beeauty-line {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #000000;
}
/* Telefonen VR */

.container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  padding-top: 88.1px;
}

.text-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.phone {
  position: relative;
  width: 450px;
  height: 683.9px;
  flex-grow: 0;
  /* margin-left: auto; */
  margin-left: 90px;
  /* Justera för att flytta telefonen från texten */
  margin-top: 50px;
  padding: 20px;
  background: #705d67;
  box-shadow: 49.455px 324.99px 131.88px rgba(0, 0, 0, 0.01),
    28.26px 183.69px 110.685px rgba(0, 0, 0, 0.05),
    11.775px 82.425px 82.425px rgba(0, 0, 0, 0.09),
    2.355px 21.195px 44.745px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
  border-radius: 44.5039px;
}

.screen {
  box-sizing: border-box;
  position: absolute;
  top: 0px;
  width: 100%;
  height: 64%;
  border-radius: 44.5039px;
  overflow: hidden;
  position: relative;
  /* box-shadow: inset 30px 30px 10px 10px rgba(240, 240, 240, 0.4); */
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25))
    drop-shadow(0px 56.6375px 16.0062px rgba(240, 240, 240, 0.01))
    drop-shadow(0px 35.7062px 14.775px rgba(240, 240, 240, 0.01))
    drop-shadow(0px 19.7px 12.3125px rgba(240, 240, 240, 0.05))
    drop-shadow(0px 8.61875px 8.61875px rgba(240, 240, 240, 0.09))
    drop-shadow(0px 2.4625px 4.925px rgba(240, 240, 240, 0.1));
  background-color: #000000;
}

.phone-screen {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* border-radius: 44.5039px; */
}
/* slut telefon */
/* KNAPPARNA TILL TELEFONEN */

.round-button svg {
  width: 46px;
  height: 46px;
  color: #000000;
}

.round-button svg:hover {
  color: var(--sunglow);
}

.retake:hover {
  color: var(--sunglow);
}

.retake i {
  width: 4px;
  height: 40px;
}

/* .camera-button:hover {
  background-color: #d9d9d9;
} */

/* .round-button:hover {
  background-color: #eee565;
} */

.circle-info-text {
  width: 100px;
  margin: 0;
}

.camera-button svg {
  color: #9d9696;
  width: 66.8px;
  height: 65px;
}

.camera-button svg:hover {
  color: var(--sunglow);
}

.hidden-box {
  transition: opacity 0.3s ease;
  opacity: 0;
}

.hidden-box.show {
  opacity: 1;
}

.half-circle {
  transition: opacity 0.3s ease;
  opacity: 0;
}

.half-circle.show {
  opacity: 1;
}

/* .container {
  position: relative;
} */

.screen {
  position: relative;
}

.half-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 266px;
  height: 127px;
  background: rgba(217, 217, 217, 0.5);
  border-width: 2.355px 2.355px 0px 2.355px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.1);
  border-radius: 353.25px 353.25px 0px 0px;
  overflow: hidden;
}

.round-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 46px;
  /* background: rgba(217, 217, 217, 0.5); */
  border-radius: 50%;
  color: rgba(0, 0, 0, 0.6);
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 10px;
  transition: background-color 0.3s ease;
}

.person-icon {
  position: relative;
  top: -29px;
  left: 20px;
  transform: translateX(-50%);
  border-radius: 50%;
}

.trash-icon {
  position: relative;
  top: 19px;
}

.retake-icon {
  position: relative;
  top: 19px;
  /* left: 0; */
  /* height: 46px;
  width: 46px; */
}

.person-icon svg {
  height: 40px;
  width: 40px;
}

.trash-icon svg {
  height: 40px;
  width: 40px;
}

.retake-icon svg {
  height: 40px;
  width: 40px;
}

.on-off-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.on-off:hover {
  color: var(--sunglow);
}
.on-off {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 14.7px 15.9px 14.1px 17px;
  background-color: var(--prune);
  border-radius: 100%;
  cursor: pointer;
  width: 60px;
  height: 60px;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.1),
    0px 2px 4px 0px rgba(0, 0, 0, 0.1), 0px 7px 7px 0px rgba(0, 0, 0, 0.09),
    0px 16px 10px 0px rgba(0, 0, 0, 0.05), 0px 29px 12px 0px rgba(0, 0, 0, 0.01),
    0px 46px 13px 0px rgba(0, 0, 0, 0);
}

.camera-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 71px;
  height: 71px;
  padding: 14.7px 15.9px 14.1px 17px;
  transform: rotate(-90.29deg);
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.6),
    0px 1.204701542854309px 2.409403085708618px 0px rgba(0, 0, 0, 0.59),
    0px 4.216455459594727px 4.216455459594727px 0px rgba(0, 0, 0, 0.51),
    0px 9.035262107849121px 5.421156883239746px 0px rgba(0, 0, 0, 0.3),
    0px 16.263471603393555px 6.625858306884766px 0px rgba(0, 0, 0, 0.09),
    0px 25.298730850219727px 7.228209018707275px 0px rgba(0, 0, 0, 0.01);

  background-color: #705d67;
  border-radius: 50%;
  position: absolute;
  bottom: 58px;
  left: 50%;
  transform: translateX(-50%);
  transition: transform 0.3s ease;
}

.camera-button.show {
  transform: translateX(-50%) translateY(-75px);
}

.half-circle.show {
  margin-bottom: 30px;
}
/*
.container {
  position: relative;
} */

.buttons {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 30px;
  color: #fff;
}
/* CIRKLARNA MED TEXT */

.circle-row {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 64px;
}

.circle {
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 116.3%;
  text-align: center;
  letter-spacing: 0.035em;
  color: #000000;
}

.circle-selfie {
  width: 165.7px;
  height: 165.7px;
  flex-grow: 0;
  /* margin: 0 0 0.5px 0; */
  /* box-shadow: 0px 53.5546px 22.1605px rgba(0, 0, 0, 0.01),
    0px 29.5474px 18.4671px rgba(0, 0, 0, 0.05),
    0px 12.927px 12.927px rgba(0, 0, 0, 0.09),
    0px 3.69342px 7.38685px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1); */
}

.circle-shades {
  width: 165.7px;
  height: 165.7px;
  flex-grow: 0;
  margin: 0 0 0 103.5px;
  /* box-shadow: 0px 53.5546px 22.1605px rgba(0, 0, 0, 0.01),
    0px 29.5474px 18.4671px rgba(0, 0, 0, 0.05),
    0px 12.927px 12.927px rgba(0, 0, 0, 0.09),
    0px 3.69342px 7.38685px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1); */
}

.circle-shot {
  width: 165.7px;
  height: 165.7px;
  flex-grow: 0;
  margin: 0 103.5px 0 0;
  /* box-shadow: 0px 53.5546px 22.1605px rgba(0, 0, 0, 0.01),
    0px 29.5474px 18.4671px rgba(0, 0, 0, 0.05),
    0px 12.927px 12.927px rgba(0, 0, 0, 0.09),
    0px 3.69342px 7.38685px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1); */
}

.circle-inbox {
  width: 165.7px;
  height: 165.7px;
  flex-grow: 0;
  /* box-shadow: 0px 53.5546px 22.1605px rgba(0, 0, 0, 0.01),
    0px 29.5474px 18.4671px rgba(0, 0, 0, 0.05),
    0px 12.927px 12.927px rgba(0, 0, 0, 0.09),
    0px 3.69342px 7.38685px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1); */
}
/* 6 foton */

#my-custom-heading {
  text-align: center;
  padding-top: 150px;
  margin: 20px 0;
  /* Justera margin-värdet för att placera texten närmare bilderna */
}

.phone-images-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 10px 0;
  /* Justera margin-värdet för att placera bilderna närmare texten */
}

.phone-image {
  margin: 20px;
  /* Uppdaterar margin för att skapa avstånd mellan komponenterna */
}

.phone-image img {
  width: 375.1px;
  height: 299.7px;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.1), 0 1.7px 3.4px 0 rgba(0, 0, 0, 0.1),
    0 6px 6px 0 rgba(0, 0, 0, 0.09), 0 13.7px 8.6px 0 rgba(0, 0, 0, 0.05),
    0 24.8px 10.3px 0 rgba(0, 0, 0, 0.01), 0 39.4px 11.1px 0 rgba(0, 0, 0, 0);
}
