.features-small {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin: 216px 72px;
  font-family: 'Playfair display';
}
.frame-child {
  /* position: relative; */
  width: 150.2px;
  height: 116.49px;
  object-fit: cover;
}
.our-scratch-resistant-frames,
.scratch-resistant {
  position: relative;
  letter-spacing: 0.03em;
  line-height: 21px;
}
.scratch-resistant {
  font-weight: 800;
}
.our-scratch-resistant-frames {
  font-family: var(--outon-paragraph-text-1);
  display: inline-block;
  width: 100%;
  height: 81px;
  flex-shrink: 0;
}

.scratch-resistant-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  width: 160.79px;
  height: 106.68px;
}
.rectangle-parent {
  display: flex;
  flex-direction: row;
  gap: var(--gap-5xl);
}
.look-and-feel {
  margin: 0;
  width: 210px;
}
.small-features {
  /* position: absolute;
  top: 2396.51px;
  left: 72px; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-12xl);
  text-align: left;
  font-size: var(--outon-paragraph-text-1-size);
  color: var(--suave);
  font-family: var(--outon-button-text);
}

@media screen and (max-width: 1250px) {
  .features-small {
    display: flex;
    align-items: center;
    /* justify-content: unset; */
    flex-direction: column;
    margin: 130px 20px 130px 20px;
    height: 500px;
  }

  /* .rectangle-parent-2 {
    display: flex;
    flex-direction: row-reverse;
  } */

  .rectangle-parent-first {
    display: flex;
    flex-direction: row-reverse;
  }

  .rectangle-parent-third {
    display: flex;
    flex-direction: row-reverse;
  }

  .frame-child {
    width: 200px;
    height: 110px;
  }

  .scratch-resistant-parent {
    width: 200px;
  }
}

@media (max-width: 520px) {
  .frame-child {
    width: 160px;
    height: 110px;
    /* margin: 15px; */
  }

  .scratch-resistant-parent {
    width: 150px;
    height: 110px;

    /* margin: 15px; */
  }

  .look-and-feel {
    font-size: 90%;
    width: 190px;
  }

  .features-small {
    width: 100vw;
    margin: 130px 0 130px 0;
  }

  .rectangle-parent {
    margin: 10px;
    gap: 10px;
    font-size: 12px;
    line-height: 15.92px;
  }
}
